.card-aov__img {
        position: relative;
        .card-aov__id {
            padding: 5px 8px;
            background-color: rgb(239, 34, 16);
            color: white;
            right: 2%;
            top: 2%;
            position: absolute;
        }
}